body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }
  
  .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .main-content {
    position: relative;
    z-index: 1;
    padding: 32px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }
  
  .title {
    color: #38a169;
    font-size: 48px;
    font-weight: bold;
  }
  
  .button {
    background-color: #38a169;
    color: white;
    padding: 10px 20px;
    border-radius: 9999px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #2f855a;
  }
  
  .list-apartment-button {
    display: flex;
    justify-content: center;
    margin-bottom: 64px; /* Adjust this value to match the spacing with other elements */
  }
  
  .apartment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
    max-height: 80vh; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
  }
  